* {
    font-family : sans-serif;
    list-style: none;
    text-decoration :none;
    border-collapse : collapse;
    margin : 0px;
    padding : 0px;
    color : #000;
}
.intro_bg {
    background-image: url("image/intro.jpg");
    background-repeat: repeat;
    width: 100%;
    height: 800px;
    position : relative;
}
.header {
    width: 100%;
    height: 86px;
    top: 0;
    margin: auto;
    display: flex;
    background:  #1f1f1f;
    opacity: 0.8;
    position: fixed;
    z-index: 100;
}
.snsArea {
    margin-top: 24px;
}
.logo {
    border: none;
    width: 250px;
    height: auto;
    padding-left: 10px;
}
.logo >li {
    float :left;
    margin-left: 30px;
}
.nav{
    display: flex;
    justify-content: flex-end;
    width: 980px;
    line-height: 86px;
}
.nav > li {
    margin-left: 84px;
}
.nav > li >a {
    color: #fff;
}
.home:hover{
    font-weight: 1000;
}

.about:hover{
    font-weight: 1000;
}

.album:hover {font-weight: 1000;
}

.korean:hover{font-weight: 1000;
}

.letter:hover{font-weight: 1000;
}

.home:active {font-weight: 1000;
                color : navy
}

.about:active{font-weight: 1000;
                color : navy
}

.album:active{ font-weight: 1000;
                color : navy
}

.korean:active{ font-weight: 1000;
                color : navy
}

.about:active{ font-weight: 1000;
                color : navy
}
.letter:active{
    font-weight: 1000;
    color: navy;
}
.musicZone{
    width: 100%;
    height: 500px;
    background: #f1f2f3;
}
.musicZone >img {
    display: block;
    margin: auto;
    width: auto;
    height: 400px;
   position: absolute;
   left: 650px;
   top: 600px;
}
.musicZone >audio {
    position: absolute;
    left: 830px;
    top: 1000px;
}
.details{
    width: 1200px;
    height: 427;
    display: flex;
    margin: 49px auto;
    margin-bottom: 200px;

}
.details> .contents2 {
    font-size: 18px;
    padding: 20px;
    text-align: left;

}
.details> .contents2 >img {
    position: absolute;
    right: 300px;
    z-index: -1;
}
.details > .contents2 > h2 {
    margin-bottom: 27px;
}
.aboutTeam{
    width: 100%;
    height: 1400px;
}
.aboutTeam > h1 {
    padding-top: 50px;
    text-align: center;
}
.aboutTeam > .contents1 {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}
.contents3 {
    font-size: 18px;
    padding: 20px;
    text-align: right;
}
.contents3 > img {
    position: absolute;
    left: 300px;
    z-index:  -1;
}
.contents3 >h2 {
    margin-bottom: 27px;
    position: absolute;
    right: 300px;
    top: 1950px;
}
.contents3 >.goal {
    position: absolute;
    right: 300px;
}
.map1{
    width: 100%;
    height: auto;
    background-color: navy;
}
.map1 >ul >li {
    text-align: center;
    position: absolute;
    right: 300px;
    top: 2838px;
}

.map1 >ul >li > div,
.map1 > ul >li > div > h1 {
    color: white;
    text-align: center;
}
.map2 {
    width: 100%;
    height: auto;
    background-color: navy;
}
.map2 >ul >li {
    text-align: center;
    position: absolute;
    left: 300px;
    top: 3500px;
}
.map2 > ul >li >div,
.map2 > ul > li > div > h1{
    color: white;
    text-align: center;
}
.more {
    width: 200px;
    height: 40px;
    border: 1px solid white;
    margin: 16px auto;
}
/,pre > a {
    color: white;
    line-height: 40px;
}
.more:hover{
    background-color: white;
    color: navy;
}
.more:active{
    background-color: white;
    color: navy;
}
.more > a:active {
    color: navy;

}
.more > a:active {
    color: navy;
    
}
.footer {
    display: flex;
    background: #1f1f1f1F;
    padding: 30px;

}
.footer > div:first-child {
    text-align: center;
    color: #fff;
    flex : 3;
}
.footer > div:last-child {
    text-align: center;
    color :#fff;
    flex : 9;
}